<Partition>
    <Definition Name="P2" System="true"/>
    <!-- Amount of ram allocated (code + stack + static variables) + heap -->
    <Memory Bytes="1M" Heap="1M"/>

    <!-- Number of threads that can be created in this partition.
         Note that this number doesn't include main and error handler threads,
         (the former always exists, and the latter can always be created).

         Values less than 1 probably don't make sense, because otherwise
         you won't be able to create any threads that can be run in
         NORMAL partition state.
        -->
    <Threads Count="10" />

    <ARINC653_Buffers Data_Size="4096" Count="16" />
    <ARINC653_Blackboards Data_Size="4096" Count="16" />
    <ARINC653_Events Count="16" />
    <ARINC653_Semaphores Count="16" />

    <ARINC653_Ports>
        <!-- Those correspond to 
             A653_SamplingPortType and A653_QueueingPortType
             defined in the standard
        -->
        <Queueing_Port Name="UIN"  Protocol="UDP" MaxMessageSize="64" Direction="SOURCE" MaxNbMessage="10" />
        <Queueing_Port Name="UOUT" Protocol="UDP" MaxMessageSize="64" Direction="DESTINATION" MaxNbMessage="10" />
    </ARINC653_Ports>

    <HM_Table>
        <!-- 
             This is the list of actions that are taken on partition level when 
             there's no error handler process.

             Code - internal error code
             Level - PROCESS or PARTITION (see ARINC-653 for the details)
             Error code - corresponding ARINC-653 error code (to be passed to error handler)
             Action - what action to take if it's not handled by the handler (it doesn't exist or level is PARTITION)
        -->
        <Error Code="POK_ERROR_KIND_DEADLINE_MISSED" Level="PROCESS" ErrorCode="DEADLINE_MISSED" Action="IDLE" />
        <Error Code="POK_ERROR_KIND_APPLICATION_ERROR" Level="PROCESS" ErrorCode="APPLICATION_ERROR" Action="IDLE" />
        <Error Code="POK_ERROR_KIND_NUMERIC_ERROR" Level="PROCESS" ErrorCode="NUMERIC_ERROR" Action="IDLE" />
        <Error Code="POK_ERROR_KIND_ILLEGAL_REQUEST" Level="PROCESS" ErrorCode="ILLEGAL_REQUEST" Action="IDLE" />
        <Error Code="POK_ERROR_KIND_STACK_OVERFLOW" Level="PROCESS" ErrorCode="STACK_OVERFLOW" Action="IDLE" />
        <!-- <Error Code="POK_ERROR_KIND_MEMORY_VIOLATION" Level="PROCESS" ErrorCode="MEMORY_VIOLATION" Action="IDLE" />
             -->
        <Error Code="POK_ERROR_KIND_HARDWARE_FAULT" Level="PROCESS" ErrorCode="HARDWARE_FAULT" Action="IDLE" />
        <Error Code="POK_ERROR_KIND_POWER_FAIL" Level="PROCESS" ErrorCode="POWER_FAIL" Action="IDLE" />
    </HM_Table>

    <Memory_Blocks>
        <!-- Powerpc only {{{-->
            <!-- This addr is fixed for old qemu. And can be any in a new qemu. And 0xf8000000 in p3041 board -->
            <Memory_Block Name="PCI_IO" Size="0x10000" Access="RW" PhysicalAddress="0xe1000000"/>

            <!--
            <Memory_Block Name="PCI_Express_1" Size="0x1000" Access="RW" PhysicalAddress="0xe0008000" Contiguous="true" Comment="qemu old" />
            -->
            <Memory_Block Name="PCI_Express_1" Size="0x1000" Access="RW" PhysicalAddress="0xfe0008000" Contiguous="true" Comment="qemu new"/>
            <!--
            <Memory_Block Name="PCI_Express_1" Size="0x1000" Access="RW" PhysicalAddress="0xfe200000" Contiguous="true" Comment="p3041"/>
            -->
        <!-- }}} -->

        <Memory_Block Name="Virtio_Heap" Size="0x1000000" Access="RW" Contiguous="true"/>


    </Memory_Blocks>

</Partition>
