/misc/mk/config.mk
/misc/__pycache__/
/examples/*/kernel/deployment.c
/examples/*/kernel/deployment.h
/examples/*/sizes.c
/examples/*/pr1/deployment.c
/examples/*/pr1/deployment.h
*.o
*.lo
.depend.mk
.depend
libpok.a
libpart.a
*.bin
*.elf
*.uboot
*.elf.map
*.pyc
.sconsign.dblite
