/misc/mk/config.mk
/misc/__pycache__/
/examples/*/sizes.c
/examples/*/*/deployment.c
/examples/*/*/deployment.h
*.o
*.lo
.depend.mk
.depend
libpok.a
libpart.a
*.bin
*.elf
*.uboot
*.elf.map
*.pyc
.sconsign.dblite
scons_build.log
