/misc/mk/config.mk
/misc/__pycache__/
/examples/*/sizes.c
/examples/*/*/deployment.c
/examples/*/*/deployment.h
*~
*.o
*.lo
*.log
.depend.mk
.depend
libpok.a
libpart.a
*.bin
*.elf
*.uboot
*.elf.map
*.pyc
# scons files
.sconsign
.sconsign.dblite
scons_build.log
build/
cache/
