<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE doc [
<!ENTITY P1 SYSTEM "P1/config.xml">
<!ENTITY P2 SYSTEM "P2/config.xml">
]>
<chpok-configuration>
	<Partitions>
		&P1;
		&P2;
	</Partitions>
    <Schedule>
        <!--
            Slot element is close to A653_PartitionTimeWindowType defined
            in the standard, but not quite it.

            As extension, we allow to specify time in other units,
            such as milliseconds (for convenience).
        -->
        <Slot Type="Partition" PartitionNameRef="P1" Duration="15ms" PeriodicProcessingStart="true" />
        <Slot Type="Partition" PartitionNameRef="P2" Duration="15ms" PeriodicProcessingStart="true" />
        <Slot Type="Monitor" Duration="10ms" />
        <Slot Type="GDB" Duration="10ms" />
    </Schedule>

    <!--
        This looks like Connection_Table 
        found in schema in older ARINC-653 standard,
        but it's somewhat different (because that old thing
        is very inconsistent).

        Recent standard doesn't define this at all.
    -->
</chpok-configuration>
