<?xml version="1.0" encoding="utf-8"?>
<Partition>
    <Definition Name="P1" />
    <!-- Amount of ram required for ELF -->
    <Memory Bytes="1M" />

    <Threads Count="10" />

    <ARINC653_Buffers Data_Size="4096" Count="16" />
    <ARINC653_Blackboards Data_Size="4096" Count="16" />
    <ARINC653_Events Count="16" />
    <ARINC653_Semaphores Count="16" />

    <ARINC653_Ports>
        <Sampling_Port Name="SP1" MaxMessageSize="64" Direction="SOURCE" Refresh="1s" />
        <Sampling_Port Name="SP2" MaxMessageSize="64" Direction="DESTINATION" Refresh="1s" />
    </ARINC653_Ports>
</Partition>