<?xml version="1.0" encoding="utf-8"?>
<JetModule>
    <Schedule>
        <Slot Type="Partition" PartitionNameRef="P1" Duration="15ms" PeriodicProcessingStart="true" />
        <Slot Type="Partition" PartitionNameRef="P2" Duration="15ms" PeriodicProcessingStart="true" />
        <Slot Type="Monitor" Duration="1ms" />
        <Slot Type="GDB" Duration="1ms" />
    </Schedule>

    <Connection_Table>
        <Channel>
            <Source>
                <Port_Ref PartitionNameRef="P1" PortNameRef="QP1" />
            </Source>
            <Destination>
                <Port_Ref PartitionNameRef="P2" PortNameRef="QP2" />
            </Destination>
        </Channel>
    </Connection_Table>

    <Shared_Memory_Blocks>
        <Shared_Memory_Blocks_Entry>
            <Memory_Block_Ref NameRef="shared_mb0" PartitionNameRef="P1"/>
            <Memory_Block_Ref NameRef="shared_mb0" PartitionNameRef="P2"/>
        </Shared_Memory_Blocks_Entry>
    </Shared_Memory_Blocks>

</JetModule>
